<section id="products">
<h1>Frequently Asked Questions</h1>

<h2>PLACING ORDERS:</h2>
At least 1 day ahead;
At least 3 days ahead (with personalized label)

<h2>MOP:</h2>
BPI/BDO/LBC/Cebuana Lhuillier

<h2>PICK-UP, MEET-UP, SHIPPING AND DELIVERY OPTIONS:</h2>

<h3>Pick-up Points:</h3>
(no minimum order; no handling fee)
-Puregold North Commonwealth
-Pearl Drive Commonwealth

<h3>Meet-up Points:</h3>
(no minimum order; + P40 handling fee)
-Trinoma
-SM North
-SM Fairview
-Fairview Terraces

<h3>Shipping:</h3>
(no minimum order; + shipping fee)
*Only cookies are allowed to be shipped nationwide.
-Metro Manila (Fastrack: P45/ Xend: P60)
-Provincial (LBC: P155)

<h3>Delivery:</h3>
(no minimum order; + delivery fee)
*We deliver all products except whole cakes anywhere within Metro Manila.
-Delivery fee starts at P100 and varies based on location.

<h3>Note:</h3>
*Whole cakes are only available for pickup/meetup.


</section>