<section id="products">


<br><br>

<div>
<!-- <img src="/assets/forHome.jpg" class="img-responsive" alt="Responsive image">
 -->
 	<img class="ui fluid image" src="/assets/forHome.jpg">
</div>

<br><br>

<div class="ui grid container">
	<div class="eight wide column">
		<div class="ui card">
		  <a class="image" href="#">
		    <img src="assets/placeholder.jpg">
		  </a>
		  <div class="content">
		    <a class="header" href="#">We accept bulk orders!</a>
		    <div class="meta">
		      <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</a>
		    </div>
		  </div>
		</div>
	</div>
	<div class="eight wide column">
		<div class="ui action fluid input">
		  <!-- <a class="image" href="#">
		    <img src="assets/placeholder.jpg">
		  </a> -->
		  <input type="text" placeholder="Search Grechelle's Kitchen...">
  		  <button class="ui button">Search</button>
		</div>
		<div class="ui card">
		  <!-- <a class="image" href="#">
		    <img src="assets/placeholder.jpg">
		  </a> -->
		  <div class="content">
		    <a class="header" href="#">Have you ordered?</a>
		    <div class="meta">
		      <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</a>
		    </div>
		  </div>
		</div>
		<div class="ui card">
		  <!-- <a class="image" href="#">
		    <img src="assets/placeholder.jpg">
		  </a> -->
		  <div class="content">
		    <a class="header" href="quick">Quick buy now!</a>
		    <div class="meta">
		      <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</a>
		    </div>
		  </div>
		</div>
		<div class="ui card">
		  <!-- <a class="image" href="#">
		    <img src="assets/placeholder.jpg">
		  </a> -->
		  <div class="content">
		    <a class="header" href="#">Already paid?</a>
		    <div class="meta">
		      <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</a>
		    </div>
		  </div>
		</div>
	</div>
</div>
<div class="ui grid container">
	<div class="eight wide column">
		<div class="ui card">
		  <a class="image" href="#">
		    <img src="assets/placeholder.jpg">
		  </a>
		  <div class="content">
		    <a class="header" href="#">We customize!</a>
		    <div class="meta">
		      <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</a>
		    </div>
		  </div>
		</div>
	</div>
	<!-- <div class="eight wide column">
		<div class="ui card">
		  <a class="image" href="#">
		    <img src="assets/placeholder.jpg">
		  </a>
		  <div class="content">
		    <a class="header" href="#">We customize!</a>
		    <div class="meta">
		      <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</a>
		    </div>
		  </div>
		</div>
		<div class="ui card">
		  <a class="image" href="#">
		    <img src="assets/placeholder.jpg">
		  </a>
		  <div class="content">
		    <a class="header" href="#">We customize!</a>
		    <div class="meta">
		      <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</a>
		    </div>
		  </div>
		</div>
		<div class="ui card">
		  <a class="image" href="#">
		    <img src="assets/placeholder.jpg">
		  </a>
		  <div class="content">
		    <a class="header" href="#">We customize!</a>
		    <div class="meta">
		      <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</a>
		    </div>
		  </div>
		</div>
	</div> -->
</div>

<%# month_calendar do |date| %>
  <%# date.day %>
<%# end %>

</section>