<section id="products">
<h2>Products</h2>


<% @parent_categories.each do |category| %>
  <h3><%= category.name %></h3>
  <% Shoppe::ProductCategory.where(parent_id: category.id).each do |c| %>
    <%= link_to c.name, product_category_path(c) %><br>
  <% end %>
  
<% end %>


</section>